<launch>  
<param name = "robot_description" command = "$(find xacro)/xacro.py '$(find robot_move_prexam)/urdf/robot_move.xacro'"/>
<node name = "robot_state_publisher" pkg ="robot_state_publisher" type = "state_publisher"/>
<node name = "joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
<node name = "fake_r2d2_controller" pkg="r2d2_navigator" type="fake_r2d2_controller"/>
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_move_prexam)/config/robotmove.rviz"/>
</launch>
